:root {
    --progress-color: #ff0000;
    --progress-bg-color: #550000;
    --text-color: #fff;
    --text-shadow-color: #000;
}

* {
    box-sizing: border-box;
}

html, body {
    background-color: transparent;

    font-family: "Open Sans Variable", sans-serif;

    width: 100vw;

    margin: 0;

    text-wrap: nowrap;
}

#bg-container {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    margin: 0;

    height: fit-content;
}

main {
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 1% 2.5%;

    color: var(--text-color);
    text-shadow: 0 0 1vw var(--text-shadow-color);
}

#event-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 5%;

    font-weight: 800;
    font-size: 4vw;

    margin-bottom: 1.5%;
}

#event-name {
    margin: 0;
}

#owner-avatar {
    width: 10%;
    height: 10%;
    border-radius: 50%;
}


#progress-bar, #progress-text {
    width: 100%;
}

#progress-bar {
    background-color: var(--progress-bg-color);
    transition: box-shadow 1s;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

#progress-bar.complete {
    box-shadow: 0 0 15px var(--progress-color);
}

#progress-bar::-webkit-progress-bar {
    background-color: var(--progress-bg-color);
    border-radius: 10px;
}

#progress-bar::-webkit-progress-value {
    background-color: var(--progress-color);
    transition: width ease-in 2s;
}

#progress-text {
    text-align: center;

    margin: 0;
    margin-top: 1%;

    font-size: 3vw;
    font-weight: 600;
}

#charity-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 5%;

    margin-top: 2%;
}

#charity-headline {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 5%;

    width: fit-content;

    flex: 1;
}

#charity-logo {
    width: 10%;
    height: 10%;
}

#charity-number {
    flex: 1;
    text-align: right;
}

#donation-details {
    margin: 0;
}

#donation-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    gap: 0.25rem;

    margin-top: 2%;
    padding: 0;

    list-style-type: none;
}

.donation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    width: 100%;

    padding: 0.75rem;

    background-color: rgba(0, 0, 0, 0.63);
    border-radius: 10px;
}

.donation-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 100%;

    font-size: 3rem;
    font-weight: bold;

    max-width: 100%;

    gap: 0.1rem;
}

.donor-name {
    /* make it so the name truncates if it will overlap with the amount */
    flex: 1;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.donation-amount {
    white-space: nowrap;
}

.donation-message {
    white-space: pre-wrap;

    overflow: hidden;
    text-overflow: ellipsis;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    font-size: 2rem;

    margin: 0.5rem;
}

@media screen and (max-width: 500px) {
    #event-details {
        font-size: 6vw;
    }

    #charity-logo {
        width: 20%;
        height: 20%;
    }

    #charity-number {
        font-size: 5vw;
    }
}
